*{
  margin: 0;
  padding: 0;
  
  box-sizing: border-box;
}



.unidades {
  
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sobrenos{
  background: linear-gradient(to bottom, #f1f1f1, #ffff);

}
